RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^compuhost\.tech$ [OR]
RewriteCond %{HTTP_HOST} ^www\.compuhost\.tech$
RewriteRule ^(.*)$ "https\:\/\/compuhost\.tech\/$1" [R=301,L]



RewriteRule ^article/(.*).php/?$ individual_article.php?slug=$1 [L,QSA,NC]
RewriteRule ^edit-article/(.*).php/?$ editarticle.php?slug=$1 [L,QSA,NC]
RewriteRule ^event/(.*).php/?$ individual_event.php?slug=$1 [L,QSA,NC]
RewriteRule ^page/(.*).php/?$ single-page.php?slug=$1 [L,QSA,NC]
RewriteRule ^group/(.*).php/?$ single-group.php?slug=$1 [L,QSA,NC]